.nav {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 20px;
  border-bottom: 1px solid;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav__link:hover {
  background-color: rgb(255, 179, 245, 0.846);
  border-radius: 5px;
  cursor: pointer;
}

.nav__links a {
  color: #000;
  text-decoration: none;
}
